@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Maison Neue";
  src: url(./assets/fonts/Maison-Neue.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueDemi";
  src: url(./assets/fonts/MaisonNeue-Demi.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueMedium";
  src: url(./assets/fonts/MaisonNeue-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueBook";
  src: url(./assets/fonts/MaisonNeue-Book.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueMono";
  src: url(./assets/fonts/Maison-Neue-Mono.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueLight";
  src: url(./assets/fonts/MaisonNeue-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Sohne Schmal";
  src: url("./assets/fonts/sohne.woff2")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.right-arrow:hover svg path {
  stroke: white;
}

.custom-select option {
  background-color: black;
}

.custom-select {
  background-image: url("https://i.postimg.cc/rmhtxCvR/white-arrow.png");
}

select {
  background-image: url("https://i.postimg.cc/Hkhkk5zk/arrow.png");
  background-position: top 50% right 0px;
  background-size: 8px;
  padding: 0px 5px;
}

input::placeholder {
  color: white;
  opacity: 60%;
}

.custom-input input::placeholder {
  color: white;
  opacity: 100%;
}

.my-input input::placeholder {
  color: black;
  opacity: 100%;
}

.brands .slick-list .slick-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actual-result .slick-dots li button:before {
  content: "";
  background: white;
  height: 6px !important;
  width: 6px !important;
  margin-left: 7px !important;
}

@media (max-width: 600.99px) {
  .slick-dots li button:before {
    font-size: 9px !important;
  }
}
