@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "Maison Neue";
  src: url(./assets/fonts/Maison-Neue.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueDemi";
  src: url(./assets/fonts/MaisonNeue-Demi.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueMedium";
  src: url(./assets/fonts/MaisonNeue-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueBook";
  src: url(./assets/fonts/MaisonNeue-Book.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueMono";
  src: url(./assets/fonts/Maison-Neue-Mono.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueLight";
  src: url(./assets/fonts/MaisonNeue-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Sohne Schmal";
  src: url(./assets/fonts/TestSohneSchmal-Dreiviertelfett-BF663d89cad1b90.otf)
    format("opentype");
}

.right-arrow:hover svg path {
  stroke: white;
}

.custom-select option {
  background-color: black;
}

input::placeholder {
  color: white;
  opacity: 60%;
}

.my-input input::placeholder{
  color: black;
  opacity: 100%;
}

.brands .slick-list .slick-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: #0d99a0 !important;
}

@media (max-width: 600px) {
  .slick-dots li button:before {
    font-size: 9px !important;
  }
}
